USE [master]
GO
/****** Object:  Database [MillionRealStateDb]    Script Date: 12/10/2025 1:02:28 PM ******/
CREATE DATABASE [MillionRealStateDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MillionRealStateDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MillionRealStateDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MillionRealStateDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MillionRealStateDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MillionRealStateDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MillionRealStateDb]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 12/10/2025 1:02:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Photo] [nvarchar](500) NULL,
	[Birthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 12/10/2025 1:02:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CodeInternal] [nvarchar](50) NOT NULL,
	[Year] [int] NULL,
	[OwnerId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImage]    Script Date: 12/10/2025 1:02:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[File] [varchar](500) NOT NULL,
	[Enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTrace]    Script Date: 12/10/2025 1:02:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTrace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateSale] [date] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[PropertyId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/10/2025 1:02:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Owner] ON 

INSERT [dbo].[Owner] ([Id], [Name], [Address], [Photo], [Birthday]) VALUES (1, N'Carlos Lopez', N'Calle 10 #5-55', N'', CAST(N'1980-03-15' AS Date))
INSERT [dbo].[Owner] ([Id], [Name], [Address], [Photo], [Birthday]) VALUES (2, N'Juan Perez', N'Carrera 50 #22-11', N'./img/Avatar005.png', CAST(N'1990-08-25' AS Date))
INSERT [dbo].[Owner] ([Id], [Name], [Address], [Photo], [Birthday]) VALUES (3, N'Marlon Cardona', N'Calle 10 #45-55', N'./img/Avatar001.png', CAST(N'1988-02-15' AS Date))
SET IDENTITY_INSERT [dbo].[Owner] OFF
GO
SET IDENTITY_INSERT [dbo].[Property] ON 

INSERT [dbo].[Property] ([Id], [Name], [Address], [Price], [CodeInternal], [Year], [OwnerId]) VALUES (1, N'Apartamento Centro', N'Calle 123 #45-67, Medellin', CAST(85000.00 AS Decimal(18, 2)), N'APT001', 2021, 1)
INSERT [dbo].[Property] ([Id], [Name], [Address], [Price], [CodeInternal], [Year], [OwnerId]) VALUES (2, N'Casa Jardin', N'Carrera 10 #12-34, Envigado', CAST(420000.00 AS Decimal(18, 2)), N'HOUSE01', 2019, 2)
INSERT [dbo].[Property] ([Id], [Name], [Address], [Price], [CodeInternal], [Year], [OwnerId]) VALUES (3, N'Propiedad Poblado 1', N'Calle 14 #85-27, Poblado', CAST(220000.00 AS Decimal(18, 2)), N'HOUSE001', 2021, 1)
GO
SET IDENTITY_INSERT [dbo].[Property] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyImage] ON 

INSERT [dbo].[PropertyImage] ([Id], [PropertyId], [File], [Enabled]) VALUES (1, 1, N'', 1)
INSERT [dbo].[PropertyImage] ([Id], [PropertyId], [File], [Enabled]) VALUES (2, 2, N'./img/House_010.jpg', 1)
INSERT [dbo].[PropertyImage] ([Id], [PropertyId], [File], [Enabled]) VALUES (3, 3, N'./img/House_001.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[PropertyImage] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyTrace] ON 

INSERT [dbo].[PropertyTrace] ([Id], [DateSale], [Name], [Value], [Tax], [PropertyId]) VALUES (1, CAST(N'2023-01-15' AS Date), N'Venta inicial', CAST(250000.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[PropertyTrace] ([Id], [DateSale], [Name], [Value], [Tax], [PropertyId]) VALUES (2, CAST(N'2022-07-10' AS Date), N'Venta inicial', CAST(420000.00 AS Decimal(18, 2)), CAST(42000.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[PropertyTrace] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Email], [PasswordHash], [IsActive]) VALUES (1, N'Marlon88', N'marlon@prueba.com', N'AUYLwrV5+P4EKERoiRASPTXSTBvDJ5oI/sQakSOjQM2J4FEi6BVWmWzM6Duck+xd5A==', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Property_CodeInternal]    Script Date: 12/10/2025 1:02:28 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Property_CodeInternal] ON [dbo].[Property]
(
	[CodeInternal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Property_IdOwner]    Script Date: 12/10/2025 1:02:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Property_IdOwner] ON [dbo].[Property]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Property_Price]    Script Date: 12/10/2025 1:02:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Property_Price] ON [dbo].[Property]
(
	[Price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyImage_IdProperty]    Script Date: 12/10/2025 1:02:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyImage_IdProperty] ON [dbo].[PropertyImage]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyTrace_IdProperty]    Script Date: 12/10/2025 1:02:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyTrace_IdProperty] ON [dbo].[PropertyTrace]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Email]    Script Date: 12/10/2025 1:02:28 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_UserName]    Script Date: 12/10/2025 1:02:28 PM ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PropertyImage] ADD  DEFAULT ((1)) FOR [Enabled]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Property]  WITH CHECK ADD  CONSTRAINT [FK_Property_Owner] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owner] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Property] CHECK CONSTRAINT [FK_Property_Owner]
GO
ALTER TABLE [dbo].[PropertyImage]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImage_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyImage] CHECK CONSTRAINT [FK_PropertyImage_Property]
GO
ALTER TABLE [dbo].[PropertyTrace]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTrace_Property] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Property] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyTrace] CHECK CONSTRAINT [FK_PropertyTrace_Property]
GO
USE [master]
GO
